<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user
        [avatar]="user.avatar"
        [name]="user.name"
        [id]="user.id"
        (select)="onSelectUser($event)"
      />
    </li>
    }
    <!-- <li>
      <app-user [avatar]="users[0].avatar" [name]="users[0].name" />
    </li>
    <li>
      <app-user [avatar]="users[1].avatar" [name]="users[1].name" />
    </li>
    <li>
      <app-user [avatar]="users[2].avatar" [name]="users[2].name" />
    </li>
    <li>
      <app-user [avatar]="users[3].avatar" [name]="users[3].name" />
    </li> -->
  </ul>
  @if (selectedUserId) {
  <app-tasks [name]="selectedUserName"/>
  }

</main>
